<!DOCTYPE html>

<html>

  <head>
    <title>Request Header Parser</title>
    <link rel="shortcut icon" href="favicon-32x32.png" type="image/x-icon" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow:wght@400;600&family=Azeret+Mono&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>

  <body>
    <h2>Request Header Parser Microservice</h2>

    <main>
      <section>
        <h3>Example Usage</h3>
        <p>
          → <a href="api/whoami">/api/whoami</a>
        </p>
      </section>

      <section>
        <h3>Example Output</h3>
        <p>
          <code>{&nbsp;"ipaddress": "::ffff:127.0.0.1",<br>&nbsp;"language": ["en-US","hr-HR"],<br>&nbsp;"software": "Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:91.0) Gecko/20100101 Firefox/91.0"}</code>
        </p>
      </section>
    </main>
    <footer>
      <p>
        By <a href="https://github.com/mat2ja" target="_blank">Matija</a>
      </p>
    </footer>
  </body>


</html>